body{
	font-size: 20px;
  background: wheat;
  background-image:
    radial-gradient(salmon 20%, transparent 0), 
    radial-gradient(salmon 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}


.oval {
      width: 200px;
      height: 100px;
      background: #f05a28;
      border-radius: 100px / 50px;
      z-index:  -5;


    }

    .oval2 {
      width: 200px;
      height: 100px;
      background: #f9c900;
      border-radius: 100px / 50px;
      transform: translateY(70px);
 
 /* animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite; */

    }

    .oval2:hover{
      animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite; 

    }

     .oval3 {
      width: 200px;
      height: 100px;
      background: #f9c900;
      border-radius: 100px / 50px;
      transform: translateY(130px);
 

    }


.oval4 {
      width: 200px;
      height: 100px;
      background: #f05a28;
      border-radius: 100px / 50px;
      z-index:  -5;

    }

   

.circle{
	width:30px;
	height:30px;
	background-color:black;
	border-radius:50%;
	margin-left: 83px;
	margin-top: -163px;
}

.circle2{
	width:30px;
	height:30px;
	background-color:black;
	border-radius:50%;
	margin-left: 83px;
	margin-top: 33px;
}

.circle3{
	width:30px;
	height:30px;
	background-color:black;
	border-radius:50%;
	margin-left: 83px;
	margin-top: 33px;
}

.circle4{
	width:30px;
	height:30px;
	background-color:black;
	border-radius:50%;
	margin-left: 83px;
	margin-top: 73px;
}




.combine{
	margin-top: 103px;
	display: inline-block;
	margin-left: 0px;
}
#container{
	transform: translateX(700px);
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 20px, 0); }
}


@keyframes dobounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, -150px, 0); }
}
